<toaster-container [toasterconfig]="config"></toaster-container>

<h4 class="font-weight-bold py-3 mb-4">
  Aziende del Portale / <span class="text-muted">{{myTitle}}</span>
</h4>

<!--<div class="form-group">
  <div class="col-lg-10">
    <a style="margin-right:15px;margin-top:15px;" href="#" (click)="onMobileClick()" class="btn btn-info" [class.disabled]="isDisabled(mobile)"><em class="fa fa-phone"></em> Call Mobile</a>
    <a style="margin-right:15px;margin-top:15px;" href="#" (click)="onPhoneClick()" class="btn btn-info" [class.disabled]="isDisabled(phone)"><em class="fa fa-phone"></em> Call Phone</a>
    <a style="margin-right:15px;margin-top:15px;" href="#" (click)="onEmailClick()" class="btn btn-info" [class.disabled]="isDisabled(email)"><em class="fa fa-envelope"></em> Send Email</a>
  </div>
</div>-->

<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" appIdentityRevealed>
  <div class="nav-tabs-top">
    <ul ngbNav #userTabs="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink>Generali</a>
        <ng-template ngbNavContent>
          <div class="card-body pb-2">
            <div class="form-group">
              <label class="form-label form-label-lg">Codice</label>
              <input id="code" name="code" username="code" class="form-control form-control-lg" [ngClass]="code.invalid && (code.dirty || code.touched) && code.errors ? 'is-invalid' : ''" [(ngModel)]="portalFarmData.code" #code="ngModel">
            </div>
            <div class="form-group">
              <label class="form-label form-label-lg">Nome</label>
              <input id="name" name="name" class="form-control form-control-lg" [ngClass]="name.invalid && (name.dirty || name.touched) && name.errors ? 'is-invalid' : ''" [(ngModel)]="portalFarmData.name" #name="ngModel" required>
              <small *ngIf="name && name.invalid && (name.dirty || name.touched) && name.errors.required" class="invalid-feedback">Il nome è un campo obbligatorio.</small>
            </div>
            <div class="form-group">
              <label class="form-label form-label-lg">Codice Fiscale</label>
              <input id="taxCode" name="taxCode" taxCode="taxCode" class="form-control form-control-lg" [ngClass]="taxCode.invalid && (taxCode.dirty || taxCode.touched) && taxCode.errors ? 'is-invalid' : ''" [(ngModel)]="portalFarmData.taxCode" #taxCode="ngModel">
            </div>
            <div class="form-group">
              <label class="form-label form-label-lg">Partita IVA</label>
              <input id="vat" name="vat" vat="vat" class="form-control form-control-lg" [ngClass]="vat.invalid && (vat.dirty || vat.touched) && vat.errors ? 'is-invalid' : ''" [(ngModel)]="portalFarmData.vat" #vat="ngModel">
            </div>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Contatti</a>
        <ng-template ngbNavContent>
          <div class="card-body pb-2">
            <div class="form-group">
              <label class="form-label form-label-lg">Email</label>
              <input name="email" placeholder="Es: mail@example.com, mail2@example.com, mail3@example.com" [(ngModel)]="portalFarmData.email" type="text" class="form-control form-control-lg">
            </div>
            <div class="form-group">
              <label class="form-label form-label-lg">Telefono</label>
              <input name="phone" [(ngModel)]="portalFarmData.phone" type="text" class="form-control form-control-lg">
            </div>
            <div class="form-group">
              <label class="form-label form-label-lg">Cellulare</label>
              <input name="mobile" [(ngModel)]="portalFarmData.mobile" type="text" class="form-control form-control-lg">
            </div>
            <div class="form-group">
              <label class="form-label form-label-lg">Fax</label>
              <input name="fax" [(ngModel)]="portalFarmData.fax" type="text" class="form-control form-control-lg">
            </div>
            <div class="form-group">
              <label class="form-label form-label-lg">Url</label>
              <input name="url" [(ngModel)]="portalFarmData.url" type="url" placeholder="Es: http://" class="form-control form-control-lg">
            </div>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Indirizzo</a>
        <ng-template ngbNavContent>
          <div class="card-body pb-2">
            <div class="form-group">
              <label class="form-label form-label-lg">Indirizzo</label>
              <input name="street" [(ngModel)]="portalFarmData.street" type="text" class="form-control form-control-lg">
            </div>
            <div class="form-group">
              <label class="form-label form-label-lg">Civico</label>
              <input name="streetNumber" [(ngModel)]="portalFarmData.streetNumber" type="text" class="form-control form-control-lg">
            </div>
            <div class="form-group">
              <label class="form-label form-label-lg">CAP</label>
              <input name="addressCode" [(ngModel)]="portalFarmData.addressCode" type="text" class="form-control form-control-lg">
            </div>
            <div class="form-group">
              <label class="form-label form-label-lg">Comune</label>
              <input name="city" [(ngModel)]="portalFarmData.city" type="text" class="form-control form-control-lg">
            </div>
            <div class="form-group">
              <label class="form-label form-label-lg">Località</label>
              <input name="location" [(ngModel)]="portalFarmData.location" type="text" class="form-control form-control-lg">
            </div>
            <div class="form-group">
              <label class="form-label form-label-lg">Stato</label>
              <input name="location" [(ngModel)]="portalFarmData.state" type="text" class="form-control form-control-lg">
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="userTabs"></div>
  </div>
  <div class="text-right mt-3">
    <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Salva</button>&nbsp;
    <!--<button type="reset" class="btn btn-default">Pulisci</button>&nbsp;-->
    <button type="button" class="btn btn-default" (click)="goToList()">Chiudi</button>
  </div>

</form>
