<toaster-container [toasterconfig]="config"></toaster-container>

<h4 class="font-weight-bold py-3 mb-4">
  Silos / <span class="text-muted">{{myTitle}}</span>
</h4>

<!--<div class="form-group">
  <div class="col-lg-10">
    <a style="margin-right:15px;margin-top:15px;" href="#" (click)="onMobileClick()" class="btn btn-info" [class.disabled]="isDisabled(mobile)"><em class="fa fa-phone"></em> Call Mobile</a>
    <a style="margin-right:15px;margin-top:15px;" href="#" (click)="onPhoneClick()" class="btn btn-info" [class.disabled]="isDisabled(phone)"><em class="fa fa-phone"></em> Call Phone</a>
    <a style="margin-right:15px;margin-top:15px;" href="#" (click)="onEmailClick()" class="btn btn-info" [class.disabled]="isDisabled(email)"><em class="fa fa-envelope"></em> Send Email</a>
  </div>
</div>-->

<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" appIdentityRevealed>
  <div class="card mb-4">
    <h6 class="card-header">
      Dati Generali
    </h6>
    <div class="card-body">
      <div class="form-group">
        <label class="form-label form-label-lg">Silo: </label>
        {{siloData.code}}
      </div>
      <div class="form-group">
        <label class="form-label">Prodotto associato</label>
        <ng-select id="materials" name="materials"
                   class="ng-select-secondary" [items]="selectMaterials"
                   [multiple]="false"
                   [closeOnSelect]="true"
                   bindLabel="label"
                   bindValue="value"
                   placeholder="Selezione Prodotto"
                   [(ngModel)]="siloData.materialId"
                   #materials="ngModel">
        </ng-select>
      </div>
    </div>
  </div>
  <div class="text-right mt-3">
    <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Salva</button>&nbsp;
    <button type="button" class="btn btn-default" (click)="goToList()">Chiudi</button>
  </div>
</form>
