<button class="close" mat-button (click)="onNoClick()">X</button>
<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{data.motor.name.toUpperCase()}}</h1>
<div mat-dialog-content style="margin: 0px -24px -24px -24px!important;padding:4px!important;background: #f5f5f5;">
  <div class="nav-tabs-top" style="padding:2px;">
    <ul ngbNav #userTabs="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink>Generale</a>
        <ng-template ngbNavContent>
          <div style="padding:8px;">
            <div style="font-size:14px;margin-top:16px;">{{data.motor.description.toUpperCase()}}</div>
            <div style="border:1px solid lightgray;padding:5px;text-align:center;vertical-align:central;font-size:14px;font-weight:bold;margin:16px 0px;">{{data.motor.STATE_STR.toUpperCase()}}</div>

            <div class="row" style="width:100%;">
              <div class="col-sm-4">
                <button (click)="onMANClick()" style="width:100%;font-weight:bold" [ngClass]="this.data.motor.CMD_MAN.value ? 'btn btn-primary' : 'btn btn-default'">MAN</button>
              </div>
              <div class="col-sm-4 text-center">
                <button *ngIf="this.data.motor.FDB_REM.value || (!this.data.motor.FDB_REM.value && !this.data.motor.FDB_LOC.value)" (click)="onLOC_ON_Click()" style="width:100%;font-weight:bold;margin-left:10px;" class="btn btn-default">LOC</button>
                <button *ngIf="this.data.motor.FDB_LOC.value" (click)="onLOC_OFF_Click()" style="width:100%;font-weight:bold;margin-left:10px;" class="btn btn-primary">LOC</button>
              </div>
              <div class="col-sm-4">
                <button (click)="onAUTClick()" [ngClass]="this.data.motor.CMD_AUT.value ? 'btn btn-primary pull-right' : 'btn btn-default pull-right'" style="font-weight:bold;margin-right:-23px;width:100%">AUTO</button>
              </div>
            </div>
            <!--<div *ngIf="!data.motor.INVERT_REV_FWD" class="row" style="width:100%;margin-top:24px;">
              <div class="col-sm-4">
                <button (click)="onSTART_REV_Click()" class="btn btn-success pull-left" style="width:100%;font-weight:bold"><i class="fas fa-play icon-flipped"></i> {{RevText.toUpperCase()}}</button>
              </div>
              <div class="col-sm-4 text-center">
                <button (click)="onSTOPClick()" class="btn btn-danger" style="width:100%;font-weight:bold;margin-left:10px"><i class="fas fa-square"></i> STOP</button>
              </div>
              <div class="col-sm-4">
                <button (click)="onSTART_FWD_Click()" class="btn btn-success pull-right" style="font-weight:bold;margin-right:-23px;width:100%"><i class="fas fa-play"></i> {{FwdText.toUpperCase()}}</button>
              </div>
            </div>-->
            <div class="row" style="width:100%;margin-top:24px;">
              <div class="col-sm-4">
                <button (click)="onSTART_FWD_Click()" class="btn btn-success pull-left" style="font-weight:bold;width:100%"><i class="fas fa-play icon-flipped"></i> {{FwdText.toUpperCase()}}</button>
              </div>
              <div class="col-sm-4 text-center">
                <button (click)="onSTOPClick()" class="btn btn-danger" style="width:100%;font-weight:bold;margin-left:10px"><i class="fas fa-square"></i> STOP</button>
              </div>
              <div class="col-sm-4">
                <button (click)="onSTART_REV_Click()" class="btn btn-success pull-right" style="width:100%;font-weight:bold;margin-right:-23px;"><i class="fas fa-play"></i> {{RevText.toUpperCase()}}</button>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Bypass</a>
        <ng-template ngbNavContent>
          <div style="padding:8px;">
            <div class="row">
              <div class="col-sm-12">
                Disabilita
              </div>
            </div>
            <div *ngIf="this.data.motor.CMD_DISABLE_THERMAL_BLOCK" class="row" style="font-size:14px;margin-top:4px;">
              <div class="col-3">
                <label class="switcher">
                  <input id="oilReady" type="checkbox" [(ngModel)]="this.data.motor.CMD_DISABLE_THERMAL_BLOCK.value" class="switcher-input" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"></span>
                </label>
              </div>
              <div class="col-7" style="vertical-align:middle">Disabilita blocco termico</div>
            </div>
            <div *ngIf="this.data.motor.CMD_DISABLE_CONTACTOR" class="row" style="font-size:14px;margin-top:8px;">
              <div class="col-3">
                <label class="switcher">
                  <input id="oilReady" type="checkbox" [(ngModel)]="this.data.motor.CMD_DISABLE_CONTACTOR.value" class="switcher-input" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"></span>
                </label>
              </div>
              <div class="col-7" style="vertical-align:middle">Disabilita contattore</div>
            </div>
            <div *ngIf="this.data.motor.CMD_DISABLE_BREAKER" class="row" style="font-size:14px;margin-top:8px;">
              <div class="col-3">
                <label class="switcher">
                  <input id="oilReady" type="checkbox" [(ngModel)]="this.data.motor.CMD_DISABLE_BREAKER.value" class="switcher-input" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"></span>
                </label>
              </div>
              <div class="col-7" style="vertical-align:middle">Disabilita sezionatore</div>
            </div>
            <div *ngIf="this.data.motor.CMD_DISABLE_CONTROL_ROTATION" class="row" style="font-size:14px;margin-top:8px;">
              <div class="col-3">
                <label class="switcher">
                  <input id="oilReady" type="checkbox" [(ngModel)]="this.data.motor.CMD_DISABLE_CONTROL_ROTATION.value" class="switcher-input" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"></span>
                </label>
              </div>
              <div class="col-7" style="vertical-align:middle">Disabilita controllo rotazione</div>
            </div>
            <div *ngIf="this.data.motor.CMD_DISABLE_SAFETY" class="row" style="font-size:14px;margin-top:8px;">
              <div class="col-3">
                <label class="switcher">
                  <input id="oilReady" type="checkbox" [(ngModel)]="this.data.motor.CMD_DISABLE_SAFETY.value" class="switcher-input" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"></span>
                </label>
              </div>
              <div class="col-7" style="vertical-align:middle">Disabilita sicurezze</div>
            </div>
            <div *ngIf="this.data.motor.CMD_DISABLE_SKID" class="row" style="font-size:14px;margin-top:8px;">
              <div class="col-3">
                <label class="switcher">
                  <input id="oilReady" type="checkbox" [(ngModel)]="this.data.motor.CMD_DISABLE_SKID.value" class="switcher-input" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"></span>
                </label>
              </div>
              <div class="col-7" style="vertical-align:middle">Disabilita antisbandamento</div>
            </div>
            <div *ngIf="this.data.motor.CMD_DISABLE_OVERFLOW_FORWARD" class="row" style="font-size:14px;margin-top:8px;">
              <div class="col-3">
                <label class="switcher">
                  <input id="oilReady" type="checkbox" [(ngModel)]="this.data.motor.CMD_DISABLE_OVERFLOW_FORWARD.value" class="switcher-input" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"></span>
                </label>
              </div>
              <div class="col-7" style="vertical-align:middle">Disabilita troppo pieno FWD</div>
            </div>
            <div *ngIf="this.data.motor.CMD_DISABLE_OVERFLOW_REVERSE" class="row" style="font-size:14px;margin-top:8px;">
              <div class="col-3">
                <label class="switcher">
                  <input id="oilReady" type="checkbox" [(ngModel)]="this.data.motor.CMD_DISABLE_OVERFLOW_REVERSE.value" class="switcher-input" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"></span>
                </label>
              </div>
              <div class="col-7" style="vertical-align:middle">Disabilita troppo pieno REV</div>
            </div>
            <div *ngIf="this.data.motor.CMD_DISABLE_PTC" class="row" style="font-size:14px;margin-top:8px;">
              <div class="col-3">
                <label class="switcher">
                  <input id="oilReady" type="checkbox" [(ngModel)]="this.data.motor.CMD_DISABLE_PTC.value" class="switcher-input" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"></span>
                </label>
              </div>
              <div class="col-7" style="vertical-align:middle">Disabilita pasticca termica</div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                Bypass
              </div>
            </div>
            <div *ngIf="this.data.motor.CMD_FILTER_THERMAL_BLOCK" class="row" style="font-size:14px;margin-top:4px;">
              <div class="col-3">
                <label class="switcher">
                  <input id="oilReady" type="checkbox" [(ngModel)]="this.data.motor.CMD_FILTER_THERMAL_BLOCK.value" class="switcher-input" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"></span>
                </label>
              </div>
              <div class="col-7" style="vertical-align:middle">Bypass blocco termico</div>
            </div>
            <div *ngIf="this.data.motor.CMD_FILTER_BREAKER" class="row" style="font-size:14px;margin-top:8px;">
              <div class="col-3">
                <label class="switcher">
                  <input id="oilReady" type="checkbox" [(ngModel)]="this.data.motor.CMD_FILTER_BREAKER.value" class="switcher-input" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"></span>
                </label>
              </div>
              <div class="col-7" style="vertical-align:middle">Bypass sezionatore</div>
            </div>
            <div *ngIf="this.data.motor.CMD_FILTER_CONTROL_ROTATION" class="row" style="font-size:14px;margin-top:8px;">
              <div class="col-3">
                <label class="switcher">
                  <input id="oilReady" type="checkbox" [(ngModel)]="this.data.motor.CMD_FILTER_CONTROL_ROTATION.value" class="switcher-input" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"></span>
                </label>
              </div>
              <div class="col-7" style="vertical-align:middle">Bypass controllo rotazione</div>
            </div>
            <div *ngIf="this.data.motor.CMD_FILTER_SKID" class="row" style="font-size:14px;margin-top:8px;">
              <div class="col-3">
                <label class="switcher">
                  <input id="oilReady" type="checkbox" [(ngModel)]="this.data.motor.CMD_FILTER_SKID.value" class="switcher-input" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"></span>
                </label>
              </div>
              <div class="col-7" style="vertical-align:middle">Bypass antisbandamento</div>
            </div>
            <div *ngIf="this.data.motor.CMD_FILTER_SAFETY" class="row" style="font-size:14px;margin-top:8px;">
              <div class="col-3">
                <label class="switcher">
                  <input id="oilReady" type="checkbox" [(ngModel)]="this.data.motor.CMD_FILTER_SAFETY.value" class="switcher-input" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"></span>
                </label>
              </div>
              <div class="col-7" style="vertical-align:middle">Bypass sicurezze</div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                Simulazione
              </div>
            </div>
            <div *ngIf="this.data.motor.CMD_SIMULATION" class="row" style="font-size:14px;margin-top:4px;">
              <div class="col-3">
                <label class="switcher">
                  <input id="oilReady" type="checkbox" [(ngModel)]="this.data.motor.CMD_SIMULATION.value" class="switcher-input" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"></span>
                </label>
              </div>
              <div class="col-7" style="vertical-align:middle">Attiva</div>
            </div>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Altro</a>
        <ng-template ngbNavContent>
          <div style="padding:8px;">
            <div class="row" style="font-size:14px;margin-top:8px;">
              <div class="col-sm-12">
                Contatori partenze
              </div>
            </div>
            <div class="row" style="font-size:14px;margin-top:8px;line-height: 26px;">
              <div class="col-sm-1">
                T1
              </div>
              <div class="col-sm-1" style="vertical-align:middle">
                {{this.data.motor.FDB_STARTS_TRIP_1.value}}
              </div>
              <div class="col-sm-2">
                <button class="btn btn-danger btn-sm" (click)="onResetStarts1()">R</button>
              </div>
              <div class="col-sm-1">
                T2
              </div>
              <div class="col-sm-1" style="vertical-align:middle">
                {{this.data.motor.FDB_STARTS_TRIP_2.value}}
              </div>
              <div class="col-sm-2">
                <button class="btn btn-danger btn-sm" (click)="onResetStarts2()">R</button>
              </div>
              <div class="col-sm-1">
                TOT
              </div>
              <div class="col-sm-2" style="vertical-align:middle">
                {{this.data.motor.FDB_STARTS_TOT.value}}
              </div>
            </div>
            <div class="row" style="font-size:14px;margin-top:8px;">
              <div class="col-sm-12">
                Contatori ore
              </div>
            </div>
            <div class="row" style="font-size:14px;margin-top:8px;line-height: 26px;">
              <div class="col-sm-1">
                T1
              </div>
              <div class="col-sm-2" style="vertical-align:middle">
                {{(this.data.motor.FDB_TIME_TRIP_1.value / 3600).toFixed(0)}}
              </div>
              <div class="col-sm-1 text-left">
                <button class="btn btn-danger btn-sm" (click)="onResetTrip1()">R</button>
              </div>
              <div class="col-sm-1 text-right">
                T2
              </div>
              <div class="col-sm-2" style="vertical-align:middle">
                {{(this.data.motor.FDB_TIME_TRIP_2.value / 3600).toFixed(0)}}
              </div>
              <div class="col-sm-1 text-left">
                <button class="btn btn-danger btn-sm" (click)="onResetTrip2()">R</button>
              </div>
              <div class="col-sm-1 text-right">
                TOT
              </div>
              <div class="col-sm-2" style="vertical-align:middle">
                {{(this.data.motor.FDB_TIME_TOT.value / 3600).toFixed(0)}}
              </div>
            </div>
            <div class="row" style="font-size:14px;margin-top:8px;line-height: 38px;">
              <div class="col-sm-8">
                Soglia ore per manutenzione
              </div>
              <div class="col-sm-4">
                <input class="form-control input-sm" [(ngModel)]="this.data.motor.SET_HOURLY_MAINTENANCE_THRESHOLD" />
              </div>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="userTabs"></div>
  </div>
</div>
