<h4 class="font-weight-bold py-3 mb-4">
  <span class="text-muted font-weight-light">IMPOSTAZIONI /</span> {{myTitle}}
</h4>

<div class="nav-tabs-top" style="padding:2px;">
  <ul ngbNav #userTabs="ngbNav" class="nav-tabs">

    <li ngbNavItem *ngFor="let area of AREAS">
      <a ngbNavLink>{{area.tab}}</a>
      <ng-template ngbNavContent>

        <div class="card-body pb-2" *ngFor="let group of area.groups">
          <h4 class="mb-4">{{group.title}}</h4>
          <div class="table-responsive">
            <table class="table table-striped table-bordered card-table">
              <thead>
                <tr>
                  <th style="width:55%">DESCRIZIONE</th>
                  <th class="text-center" style="width:20%">ATTUALE</th>
                  <th class="text-center" style="width:25%">COMANDO</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let row of group.rows">
                  <td style="vertical-align:middle;">
                    <span *ngIf="row.code" class="badge badge-secondary mr-2">{{row.code}}</span>{{row.text}}
                  </td>
                  <td class="text-center" style="vertical-align:middle;">
                    <span [ngClass]="{'badge': true,
                                      'badge-success': isOn(row) && !row.info,
                                      'badge-info': isOn(row) && row.info,
                                      'badge-secondary': !isOn(row)}"
                          style="font-size:0.894rem;font-weight:400;padding:5px 15px">
                      {{stateTxt(row)}}
                    </span>
                  </td>
                  <td class="text-center" style="vertical-align:middle;">
                    <label class="switcher" [ngClass]="row.info ? 'switcher-info' : 'switcher-success'">
                      <input type="checkbox" class="switcher-input"
                             [checked]="isOn(row)"
                             (change)="onToggle(area, row, $event.target.checked)">
                      <span class="switcher-indicator">
                        <span class="switcher-yes"></span>
                        <span class="switcher-no"></span>
                      </span>
                    </label>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

      </ng-template>
    </li>

  </ul>
  <div [ngbNavOutlet]="userTabs"></div>
</div>
