<div class="dialog-header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <button class="close" mat-button (click)="onNoClick()">
    <span class="mat-button-wrapper">X</span>
  </button>
  <h1 mat-dialog-title>{{data.title}}</h1>
</div>
<div mat-dialog-content>
  <div class="nav-tabs-top">

    <!-- IMPOSTAZIONI SILOS FILL: tipo di riempimento dei quattro sili (DB190) -->
    <div *ngIf="data.title == 'IMPOSTAZIONI SILOS FILL'">

      <div class="section-title"><h5>TIPO DI RIEMPIMENTO SILOS</h5></div>
      <div class="table-responsive">
        <table class="table table-striped table-bordered card-table">
          <thead>
            <tr>
              <th>PARAMETRO</th>
              <th>ATTUALE</th>
              <th>NUOVO</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>

            <!-- V310: a zero ogni silo segue il proprio setpoint, altrimenti comanda lui -->
            <tr>
              <td style="vertical-align:middle;">
                Setpoint tipi di riempimento globale Silos
              </td>
              <td style="vertical-align:middle;">
                {{siloList.FILL_TYPE_GLOBAL_STR}}
              </td>
              <td class="text-right" style="vertical-align:middle;">
                <select class="form-control" [(ngModel)]="newFillTypeGlobal">
                  <option [ngValue]="0">Ogni silo il suo</option>
                  <option [ngValue]="1">1/4</option>
                  <option [ngValue]="2">2/4</option>
                  <option [ngValue]="3">4/4</option>
                </select>
              </td>
              <td class="text-right" style="vertical-align:middle;">
                <button class="btn btn-success" type="button" (click)="onFillTypeGlobalConfirm()">OK</button>
              </td>
            </tr>

            <!-- V1111..V1114: modificabili solo con il setpoint globale a zero -->
            <tr *ngFor="let silo of siloList.silos; let i = index">
              <td style="vertical-align:middle;">
                Setpoint tipo di riempimento silo {{i + 1}}
              </td>
              <td style="vertical-align:middle;">
                {{silo.FILL_TYPE_STR}}
              </td>
              <td class="text-right" style="vertical-align:middle;">
                <select class="form-control" [(ngModel)]="newFillType[i]" [disabled]="!siloList.FILL_TYPE_PER_SILO">
                  <option [ngValue]="1">1/4</option>
                  <option [ngValue]="2">2/4</option>
                  <option [ngValue]="3">4/4</option>
                </select>
              </td>
              <td class="text-right" style="vertical-align:middle;">
                <button class="btn btn-success" type="button" [disabled]="!siloList.FILL_TYPE_PER_SILO" (click)="onFillTypeConfirm(i)">OK</button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>

    <!-- IMPOSTAZIONI CASING TANKS
         Le schede dividono i parametri per scopo invece che per datablock: cosa si
         dosa (setpoint DB123 + impulso elettrovalvola DB120), come si manda il casing
         in pompa (elettrovalvole DB120, finecorsa DB121, totalizzatori DB190), cosa
         fanno le valvole sugli ugelli dei cilindri (DB121) e i tempi di impianto
         (preset DB186 e conteggio residuo DB189).
         Le tabelle dei bit di comando hanno la stessa forma della pagina Parametri:
         sigla dello scambio dati, descrizione, stato attuale e switcher. -->
    <div *ngIf="data.title == 'IMPOSTAZIONI CASING TANKS'">
      <ul ngbNav #casingTabs="ngbNav" class="nav-tabs">

        <!-- ACQUA NEI TANK: quanta acqua va dosata e comando dell'elettrovalvola -->
        <li ngbNavItem>
          <a ngbNavLink>Acqua nei tank</a>
          <ng-template ngbNavContent>

            <div class="section-title"><h5>SETPOINT ACQUA IN TANK</h5></div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th style="width:45%">PARAMETRO</th>
                    <th class="text-center" style="width:15%">ATTUALE</th>
                    <th class="text-center" style="width:25%">NUOVO</th>
                    <th style="width:15%">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of CASING_H2O_SETPOINTS; let i = index">
                    <td style="vertical-align:middle;">
                      <span class="badge badge-secondary mr-2">{{row.code}}</span>{{row.text}}
                    </td>
                    <td class="text-center" style="vertical-align:middle;">
                      {{valueOf(row.tag)}} {{row.unit}}
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newH2OSetpoint[i]" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onH2OSetpointConfirm(i)">OK</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div *ngIf="gruppoDosaggioAcqua" class="section-title"><h5>{{gruppoDosaggioAcqua.title | uppercase}}</h5></div>
            <div *ngIf="gruppoDosaggioAcqua" class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th style="width:55%">DESCRIZIONE</th>
                    <th class="text-center" style="width:20%">ATTUALE</th>
                    <th class="text-center" style="width:25%">COMANDO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of gruppoDosaggioAcqua.rows">
                    <td style="vertical-align:middle;">
                      <span class="badge badge-secondary mr-2">{{row.code}}</span>{{row.text}}
                    </td>
                    <td class="text-center" style="vertical-align:middle;">
                      <span [ngClass]="{'badge': true, 'badge-success': isOn(row), 'badge-secondary': !isOn(row)}"
                            style="font-size:0.894rem;font-weight:400;padding:5px 15px">
                        {{stateTxt(row)}}
                      </span>
                    </td>
                    <td class="text-center" style="vertical-align:middle;">
                      <label class="switcher switcher-success">
                        <input type="checkbox" class="switcher-input"
                               [checked]="isOn(row)"
                               (change)="onCasingToggle(row, $event.target.checked)">
                        <span class="switcher-indicator">
                          <span class="switcher-yes"></span>
                          <span class="switcher-no"></span>
                        </span>
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </ng-template>
        </li>

        <!-- POMPE E MANDATE: dal tank alla pompa, abilitazione loop e kg totalizzati -->
        <li ngbNavItem>
          <a ngbNavLink>Pompe e mandate</a>
          <ng-template ngbNavContent>

            <div *ngIf="gruppoMandataTank" class="section-title"><h5>{{gruppoMandataTank.title | uppercase}}</h5></div>
            <div *ngIf="gruppoMandataTank" class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th style="width:55%">DESCRIZIONE</th>
                    <th class="text-center" style="width:20%">ATTUALE</th>
                    <th class="text-center" style="width:25%">COMANDO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of gruppoMandataTank.rows">
                    <td style="vertical-align:middle;">
                      <span class="badge badge-secondary mr-2">{{row.code}}</span>{{row.text}}
                    </td>
                    <td class="text-center" style="vertical-align:middle;">
                      <span [ngClass]="{'badge': true, 'badge-success': isOn(row), 'badge-secondary': !isOn(row)}"
                            style="font-size:0.894rem;font-weight:400;padding:5px 15px">
                        {{stateTxt(row)}}
                      </span>
                    </td>
                    <td class="text-center" style="vertical-align:middle;">
                      <label class="switcher switcher-success">
                        <input type="checkbox" class="switcher-input"
                               [checked]="isOn(row)"
                               (change)="onCasingToggle(row, $event.target.checked)">
                        <span class="switcher-indicator">
                          <span class="switcher-yes"></span>
                          <span class="switcher-no"></span>
                        </span>
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- Elettrovalvole del casing sugli ugelli dei cilindri: sono comandi come
                 quelli qui sopra, ma agiscono a valle della pompa. Il loro finecorsa sta
                 nella scheda "Valvole ugelli". La sigla manca sullo scambio dati, quindi
                 il badge del codice si mostra solo se c'e'. -->
            <div *ngIf="gruppoCasingUgelli" class="section-title"><h5>{{gruppoCasingUgelli.title | uppercase}}</h5></div>
            <div *ngIf="gruppoCasingUgelli" class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th style="width:55%">DESCRIZIONE</th>
                    <th class="text-center" style="width:20%">ATTUALE</th>
                    <th class="text-center" style="width:25%">COMANDO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of gruppoCasingUgelli.rows">
                    <td style="vertical-align:middle;">
                      <span *ngIf="row.code" class="badge badge-secondary mr-2">{{row.code}}</span>{{row.text}}
                    </td>
                    <td class="text-center" style="vertical-align:middle;">
                      <span [ngClass]="{'badge': true, 'badge-success': isOn(row), 'badge-secondary': !isOn(row)}"
                            style="font-size:0.894rem;font-weight:400;padding:5px 15px">
                        {{stateTxt(row)}}
                      </span>
                    </td>
                    <td class="text-center" style="vertical-align:middle;">
                      <label class="switcher switcher-success">
                        <input type="checkbox" class="switcher-input"
                               [checked]="isOn(row)"
                               (change)="onCasingToggle(row, $event.target.checked)">
                        <span class="switcher-indicator">
                          <span class="switcher-yes"></span>
                          <span class="switcher-no"></span>
                        </span>
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- Posizione reale delle elettrovalvole tank -> pompa: il comando sta in cima,
                 qui c'e' il finecorsa che dice come sono messe davvero. -->
            <div class="section-title"><h5>FINECORSA VALVOLE SELETTRICI</h5></div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th style="width:75%">DESCRIZIONE</th>
                    <th class="text-center" style="width:25%">STATO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of CASING_SELECTOR_LS">
                    <td style="vertical-align:middle;">
                      <span class="badge badge-secondary mr-2">{{row.code}}</span>{{row.text}}
                    </td>
                    <td class="text-center" style="vertical-align:middle;">
                      <span [ngClass]="{'badge': true, 'badge-success': isOn(row), 'badge-secondary': !isOn(row)}"
                            style="font-size:0.894rem;font-weight:400;padding:5px 15px">
                        {{stateTxt(row)}}
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div *ngIf="gruppoLoopPompe" class="section-title"><h5>{{gruppoLoopPompe.title | uppercase}}</h5></div>
            <div *ngIf="gruppoLoopPompe" class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th style="width:55%">DESCRIZIONE</th>
                    <th class="text-center" style="width:20%">ATTUALE</th>
                    <th class="text-center" style="width:25%">COMANDO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of gruppoLoopPompe.rows">
                    <td style="vertical-align:middle;">
                      <span class="badge badge-secondary mr-2">{{row.code}}</span>{{row.text}}
                    </td>
                    <td class="text-center" style="vertical-align:middle;">
                      <span [ngClass]="{'badge': true, 'badge-success': isOn(row), 'badge-secondary': !isOn(row)}"
                            style="font-size:0.894rem;font-weight:400;padding:5px 15px">
                        {{stateTxt(row)}}
                      </span>
                    </td>
                    <td class="text-center" style="vertical-align:middle;">
                      <label class="switcher switcher-success">
                        <input type="checkbox" class="switcher-input"
                               [checked]="isOn(row)"
                               (change)="onCasingToggle(row, $event.target.checked)">
                        <span class="switcher-indicator">
                          <span class="switcher-yes"></span>
                          <span class="switcher-no"></span>
                        </span>
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="section-title"><h5>TOTALIZZATORI MISURATORI DI PORTATA</h5></div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th style="width:75%">DESCRIZIONE</th>
                    <th class="text-center" style="width:25%">TOTALE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of CASING_TOTALIZERS">
                    <td style="vertical-align:middle;">
                      <span class="badge badge-secondary mr-2">{{row.code}}</span>{{row.text}}
                    </td>
                    <td class="text-center" style="vertical-align:middle;">
                      {{totalizer(row) == null ? '-' : (totalizer(row) | number:'1.0-1')}} kg
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </ng-template>
        </li>

        <!-- VALVOLE UGELLI: sola lettura, dice cosa sta uscendo dagli ugelli dei cilindri -->
        <li ngbNavItem>
          <a ngbNavLink>Valvole ugelli</a>
          <ng-template ngbNavContent>

            <div class="section-title"><h5>FINECORSA VALVOLE SUGLI UGELLI</h5></div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th style="width:75%">DESCRIZIONE</th>
                    <th class="text-center" style="width:25%">STATO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of CASING_NOZZLE_LS">
                    <td style="vertical-align:middle;">
                      <span class="badge badge-secondary mr-2">{{row.code}}</span>{{row.text}}
                    </td>
                    <td class="text-center" style="vertical-align:middle;">
                      <span [ngClass]="{'badge': true, 'badge-success': isOn(row), 'badge-secondary': !isOn(row)}"
                            style="font-size:0.894rem;font-weight:400;padding:5px 15px">
                        {{stateTxt(row)}}
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </ng-template>
        </li>

        <!-- TEMPORIZZATORI: preset scrivibile (DB186) e conteggio residuo (DB189) -->
        <li ngbNavItem>
          <a ngbNavLink>Temporizzatori</a>
          <ng-template ngbNavContent>

            <div class="section-title"><h5>TEMPI DI APERTURA VALVOLE E AVVIO POMPE</h5></div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th style="width:40%">DESCRIZIONE</th>
                    <th class="text-center" style="width:15%">PRESET</th>
                    <th class="text-center" style="width:15%">RESIDUO</th>
                    <th class="text-center" style="width:20%">NUOVO (0,1 s)</th>
                    <th style="width:10%">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of CASING_TIMERS; let i = index">
                    <td style="vertical-align:middle;">
                      <span class="badge badge-secondary mr-2">tcp[{{row.index}}]</span>{{row.text}}
                    </td>
                    <td class="text-center" style="vertical-align:middle;">
                      {{valueOf('TIMERS_tcp_' + row.index)}} <span class="text-muted">({{seconds(valueOf('TIMERS_tcp_' + row.index))}} s)</span>
                    </td>
                    <td class="text-center" style="vertical-align:middle;">
                      {{valueOf('TIMERS_tcc_' + row.index)}} <span class="text-muted">({{seconds(valueOf('TIMERS_tcc_' + row.index))}} s)</span>
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newTimerPreset[i]" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onTimerPresetConfirm(i)">OK</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </ng-template>
        </li>

      </ul>
      <div [ngbNavOutlet]="casingTabs"></div>
    </div>

  </div>
</div>

<!--<div class="dialog-header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <button class="close" mat-button (click)="onNoClick()">
    <span class="mat-button-wrapper">X</span>
  </button>
  <h1 mat-dialog-title>{{data.title}}</h1>
</div>
<div mat-dialog-content >
  <div class="nav-tabs-top">
    <ul ngbNav #userTabs="ngbNav" class="nav-tabs">-->

      <!-- SEZIONE IMPOSTAZIONI GENERALI-->
      <!--<li ngbNavItem>
        <a ngbNavLink>Generale</a>
        <ng-template ngbNavContent>-->

          <!-- div CARICO ROTTAME -->
          <!--<div *ngIf="data.title == 'IMPOSTAZIONI CARICO ROTTAME'">-->

            <!-- RIFERIMENTO MASSIMO PER INVERTER RICEZIONE ROTTAME -->
            <!--<div class="section-title"><h5>RIFERIMENTO MASSIMO PER INVERTER ROTTAME</h5></div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td style="vertical-align:middle;">
                      {{TagList.MAX_RIF_INV_ROTTAME.value}} %
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newRifInverterRottame" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onRifInvRottameConfirm()">OK</button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>-->

            <!-- VELOCITA' PERCENTUALE 1 TRAMOGGIA ROTTAME -->
            <!--<div class="section-title"><h5>VELOCITA' PERCENTUALE 1 TRAMOGGIA</h5></div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td style="vertical-align:middle;">
                      {{TagList.PC_VEL_PERC_ROTTAME_1_TRAMOGGIA.value}} %
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newVelocitaTramoggiaRottame_1" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onVelocita_1_TramoggiaRottameConfirm()">OK</button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>-->

            <!-- VELOCITA' PERCENTUALE 2 TRAMOGGE ROTTAME -->
            <!--<div class="section-title"><h5>VELOCITA' PERCENTUALE 2 TRAMOGGE</h5></div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td style="vertical-align:middle;">
                      {{TagList.PC_VEL_PERC_ROTTAME_2_TRAMOGGE.value}} %
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newVelocitaTramoggeRottame_2" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onVelocita_2_TramoggeRottameConfirm()">OK</button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>-->

            <!-- VELOCITA' PERCENTUALE 3 TRAMOGGE ROTTAME -->
            <!--<div class="section-title"><h5>VELOCITA' PERCENTUALE 3 TRAMOGGE</h5></div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td style="vertical-align:middle;">
                      {{TagList.PC_VEL_PERC_ROTTAME_3_TRAMOGGE.value}} %
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newVelocitaTramoggeRottame_3" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onVelocita_3_TramoggeRottameConfirm()">OK</button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>-->

            <!-- VELOCITA' PERCENTUALE 4 TRAMOGGE ROTTAME -->
            <!--<div class="section-title"><h5>VELOCITA' PERCENTUALE 4 TRAMOGGE</h5></div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td style="vertical-align:middle;">
                      {{TagList.PC_VEL_PERC_ROTTAME_4_TRAMOGGE.value}} %
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newVelocitaTramoggeRottame_4" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onVelocita_4_TramoggeRottameConfirm()">OK</button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>-->

            <!-- VELOCITA' PERCENTUALE 5 TRAMOGGE ROTTAME -->
            <!--<div class="section-title"><h5>VELOCITA' PERCENTUALE 5 TRAMOGGE</h5></div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td style="vertical-align:middle;">
                      {{TagList.PC_VEL_PERC_ROTTAME_5_TRAMOGGE.value}} %
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newVelocitaTramoggeRottame_5" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onVelocita_5_TramoggeRottameConfirm()">OK</button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>-->

            <!-- VELOCITA' PERCENTUALE 6 TRAMOGGE ROTTAME -->
            <!--<div class="section-title"><h5>VELOCITA' PERCENTUALE 6 TRAMOGGE</h5></div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td style="vertical-align:middle;">
                      {{TagList.PC_VEL_PERC_ROTTAME_6_TRAMOGGE.value}} %
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newVelocitaTramoggeRottame_6" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onVelocita_6_TramoggeRottameConfirm()">OK</button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>

          </div>-->

          <!-- div CARICO SABBIA -->
          <!--<div *ngIf="data.title == 'IMPOSTAZIONI CARICO SABBIA'">-->

            <!-- RIFERIMENTO MASSIMO PER INVERTER RICEZIONE SABBIA -->
            <!--<div class="section-title"><h5>RIFERIMENTO MASSIMO PER INVERTER SABBIA</h5></div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td style="vertical-align:middle;">
                      {{TagList.MAX_RIF_INV_SABBIA.value}} %
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newRifInverterSabbia" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onRifInvSabbiaConfirm()">OK</button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>-->

            <!-- VELOCITA' PERCENTUALE 1 TRAMOGGIA SABBIA -->
            <!--<div class="section-title"><h5>VELOCITA' PERCENTUALE 1 TRAMOGGIA</h5></div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td style="vertical-align:middle;">
                      {{TagList.PC_VEL_PERC_SABBIA_1_TRAMOGGIA.value}} %
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newVelocitaTramoggiaSabbia_1" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onVelocita_1_TramoggiarSabbiaConfirm()">OK</button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>-->

            <!-- VELOCITA' PERCENTUALE 2 TRAMOGGE ROTTAME -->
            <!--<div class="section-title"><h5>VELOCITA' PERCENTUALE 2 TRAMOGGE</h5></div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td style="vertical-align:middle;">
                      {{TagList.PC_VEL_PERC_ROTTAME_2_TRAMOGGE.value}} %
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newVelocitaTramoggeRottame_2" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onVelocita_2_TramoggeRottameConfirm()">OK</button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>-->

            <!-- VELOCITA' PERCENTUALE 3 TRAMOGGE ROTTAME -->
            <!--<div class="section-title"><h5>VELOCITA' PERCENTUALE 3 TRAMOGGE</h5></div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td style="vertical-align:middle;">
                      {{TagList.PC_VEL_PERC_ROTTAME_3_TRAMOGGE.value}} %
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newVelocitaTramoggeRottame_3" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onVelocita_3_TramoggeRottameConfirm()">OK</button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>-->

            <!-- VELOCITA' PERCENTUALE 4 TRAMOGGE ROTTAME -->
            <!--<div class="section-title"><h5>VELOCITA' PERCENTUALE 4 TRAMOGGE</h5></div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td style="vertical-align:middle;">
                      {{TagList.PC_VEL_PERC_ROTTAME_4_TRAMOGGE.value}} %
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newVelocitaTramoggeRottame_4" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onVelocita_4_TramoggeRottameConfirm()">OK</button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>-->

            <!-- VELOCITA' PERCENTUALE 5 TRAMOGGE ROTTAME -->
            <!--<div class="section-title"><h5>VELOCITA' PERCENTUALE 5 TRAMOGGE</h5></div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td style="vertical-align:middle;">
                      {{TagList.PC_VEL_PERC_ROTTAME_5_TRAMOGGE.value}} %
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newVelocitaTramoggeRottame_5" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onVelocita_5_TramoggeRottameConfirm()">OK</button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>

          </div>-->

          <!--  div IMPOSTAZIONI IMPIANTO DEPOLVERAZIONE -->
          <!--<div *ngIf="data.title == 'IMPOSTAZIONI IMPIANTO ASPIRAZIONE'">-->

            <!-- TEMPO PAUSA PER NUOVA RICHIESTA AVVIO CICLONE -->
            <!--<div class="section-title"><h5>TEMPO PAUSA PER NUOVA RICHIESTA AVVIO CICLONE</h5></div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td style="vertical-align:middle;">
                      {{TagList.PC_T_RESET_RICHIESTA_AVVIO_CICLONE_AD_ASPIRAZIONE.value}} s.
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newTempoRichiestaAvvioCiclone" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onTempoRichiestaAvvioCicloneConfirm()">OK</button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>-->

            <!-- TEMPO LAVORO ROTOCELLA/VALVOLA STELLATA RECUPERO POLVERI -->
            <!--<div class="section-title"><h5>TEMPO LAVORO ROTOCELLA/VALVOLA STELLATA RECUPERO POLVERI</h5></div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td style="vertical-align:middle;">
                      {{TagList.PC_T_STOP_ROTOCELLA_RECUPERO_POLVERI.value}} s.
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newTempoScaricoRotocella" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onTempoScaricoRotocellaConfirm()">OK</button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>-->

            <!-- div FEEDBACK IMPIANTO ASPIRAZIONE -->
            <!--<div class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <tbody>-->

                  <!-- COUNTDOWN RICHIESTA AVVIO ROTOCELLA/VALVOLA STELLATA RECUPERO POLVERICOUNTDOWN TEMPO ATTESA AVVIO ROTOCELLA RECUPERO POLVERI -->
                  <!--<tr>
                    <td style="vertical-align:middle;">
                      COUNTDOWN RICHIESTA AVVIO ROTOCELLA/VALVOLA STELLATA RECUPERO POLVERI
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      {{TagList.FDB_CD_START_ROTOCELLA_RECUPERO_POLVERI.value}} s.
                    </td>
                  </tr>-->

                  <!-- COUNTDOWN LAVORO ROTOCELLA/VALVOLA STELLATA RECUPERO POLVERI -->
                  <!--<tr>
                    <td style="vertical-align:middle;">
                      COUNTDOWN LAVORO ROTOCELLA/VALVOLA STELLATA RECUPERO POLVERI
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      {{TagList.FDB_CD_STOP_ROTOCELLA_RECUPERO_POLVERI.value}} s.
                    </td>
                  </tr>-->

                  <!-- COUNTDOWN PAUSA PER NUOVA RICHIESTA AVVIO CICLONE -->
                  <!--<tr>
                    <td style="vertical-align:middle;">
                      COUNTDOWN PAUSA PER NUOVA RICHIESTA AVVIO CICLONE
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      {{TagList.FDB_CD_RESET_RICHIESTA_AVVIO_CICLONE_AD_ASPIRAZIONE.value}} s.
                    </td>
                  </tr>-->


                  <!-- STATI SEGNALI DA IMPIANTO DI ASPIRAZIONE: -->

                  <!-- RICHIESTA AVVIO CICLONE -->
                  <!--<tr>
                    <td style="vertical-align:middle;">
                      RICHIESTA AVVIO CICLONE <br>
                      (uscita 5016.02)
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      {{TagList.FDB_STS_IMP_ASP_RICH_AVVIO_CICLONE.value ? 'SI' : 'NO'}}
                    </td>
                  </tr>-->

                  <!-- RICHIESTA AVVIO COCLEA -->
                  <!--<tr>
                    <td style="vertical-align:middle;">
                      RICHIESTA AVVIO COCLEA<br>
                      (uscita 5016.03)
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      {{TagList.FDB_STS_IMP_ASP_RICH_AVVIO_COCLEA.value ? 'SI' : 'NO'}}
                    </td>
                  </tr>-->

                  <!-- CICLONE COMPLETAMENTE AVVIATO -->
                  <!--<tr>
                    <td style="vertical-align:middle;">
                      CICLONE COMPLETAMENTE AVVIATO <br>
                      (ingresso 3015.06)
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      {{TagList.FDB_STS_IMP_ASP_PARTITO.value ? 'AVVIATO' : 'NON AVVIATO'}}
                    </td>
                  </tr>-->

                  <!-- PRESENZA ALLARME -->
                  <!--<tr>
                    <td style="vertical-align:middle;">
                      PRESENZA ALLARME <br>
                      (ingresso 3015.05)
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      {{TagList.FDB_STS_IMP_ASP_ALLARME.value ? 'NESSUN ALLARME' : 'ALLARME'}}
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>

          </div>

        </ng-template>
      </li>-->

      <!-- SEZIONE FEEDBACK -->
      <!--<li ngbNavItem *ngIf="data.title != 'IMPOSTAZIONI IMPIANTO ASPIRAZIONE'">
        <a ngbNavLink>Feedback</a>
        <ng-template ngbNavContent>
          <div style="padding:8px;">-->

            <!-- div FEEDBACK VELOCITA' CARICO ROTTAME -->
            <!--<div class="table-responsive" *ngIf="data.title == 'IMPOSTAZIONI CARICO ROTTAME'">
              <table class="table table-striped table-bordered card-table">
                <tbody>-->

                  <!-- FEEDBACK VELOCITA' PERCENTUALE TR1 -->
                  <!--<tr>
                    <td style="vertical-align:middle;">
                      Feedback velocita percentuale TR1
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      {{TagList.FDB_VEL_P_VS121A.value}} %
                    </td>
                  </tr>-->

                  <!-- FEEDBACK VELOCITA' PERCENTUALE TR2 -->
                  <!--<tr>
                    <td style="vertical-align:middle;">
                      Feedback velocita percentuale TR2
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      {{TagList.FDB_VEL_P_VS122A.value}} %
                    </td>
                  </tr>-->

                  <!-- FEEDBACK VELOCITA' PERCENTUALE TR3 -->
                  <!--<tr>
                    <td style="vertical-align:middle;">
                      Feedback velocita percentuale TR3
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      {{TagList.FDB_VEL_P_VS123A.value}} %
                    </td>
                  </tr>-->

                  <!-- FEEDBACK VELOCITA' PERCENTUALE TR4 -->
                  <!--<tr>
                    <td style="vertical-align:middle;">
                      Feedback velocita percentuale TR4
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      {{TagList.FDB_VEL_P_VS124A.value}} %
                    </td>
                  </tr>-->

                  <!-- FEEDBACK VELOCITA' PERCENTUALE TR5 -->
                  <!--<tr>
                    <td style="vertical-align:middle;">
                      Feedback velocita percentuale TR5
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      {{TagList.FDB_VEL_P_VS125A.value}} %
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>-->

            <!-- div FEEDBACK VELOCITA' CARICO SABBIA -->
            <!--<div class="table-responsive" *ngIf="data.title == 'IMPOSTAZIONI CARICO SABBIA'">
              <table class="table table-striped table-bordered card-table">
                <tbody>-->

                  <!-- FEEDBACK VELOCITA' PERCENTUALE TR6 -->
                  <!--<tr>
                    <td style="vertical-align:middle;">
                      Feedback velocita percentuale TR6
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      {{TagList.FDB_VEL_P_VS151A.value}} %
                    </td>
                  </tr>-->

                  <!-- FEEDBACK VELOCITA' PERCENTUALE TR7 -->
                  <!--<tr>
                    <td style="vertical-align:middle;">
                      Feedback velocita percentuale TR7
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      {{TagList.FDB_VEL_P_VS152A.value}} %
                    </td>
                  </tr>-->

                  <!-- FEEDBACK VELOCITA' PERCENTUALE TR8 -->
                  <!--<tr>
                    <td style="vertical-align:middle;">
                      Feedback velocita percentuale TR8
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      {{TagList.FDB_VEL_P_VS153A.value}} %
                    </td>
                  </tr>-->

                  <!-- FEEDBACK VELOCITA' PERCENTUALE TR9 -->
                  <!--<tr>
                    <td style="vertical-align:middle;">
                      Feedback velocita percentuale TR9
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      {{TagList.FDB_VEL_P_VS154A.value}} %
                    </td>
                  </tr>-->

                  <!-- FEEDBACK VELOCITA' PERCENTUALE TR10 -->
                  <!--<tr>
                    <td style="vertical-align:middle;">
                      Feedback velocita percentuale TR10
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      {{TagList.FDB_VEL_P_VS155A.value}} %
                    </td>
                  </tr>

                </tbody>
              </table>

            </div>

          </div>
        </ng-template>
      </li>

    </ul>
    <div [ngbNavOutlet]="userTabs"></div>
  </div>
</div>-->

