<!--<button class="close" mat-button (click)="onNoClick()">X</button>
<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{data.scale.name.toUpperCase()}} | {{data.scale.description.toUpperCase()}}</h1>
<div mat-dialog-content style="margin: 0px -24px -24px -24px!important;padding:4px!important;background: #f5f5f5;">
  <div class="nav-tabs-top" style="padding:2px;">
    <ul ngbNav #userTabs="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink>Generale</a>
        <ng-template ngbNavContent>
          <div style="padding:8px;">
            <div *ngIf="data.scale.STATE" style="border:1px solid lightgray;padding:5px;text-align:center;vertical-align:central;font-size:14px;font-weight:bold;margin:16px 0px;">{{data.scale.STATE_STR.toUpperCase()}}</div>
            <div class="row">
              <div class="col-sm-6 col-xl-6">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="ml-3">
                        <div class="text-muted small">Riempimento</div>
                        <div class="text-large">
                          {{(+this.data.scale.FDB_PERC_ACT.value).toFixed(0)}} %
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-6">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="ml-3">
                        <div class="text-muted small">Peso attuale</div>
                        <div class="text-large">
                          {{this.data.scale.name === 'B6' ? (+this.data.scale.FDB_PESO_ACT.value).toFixed(3) : (+this.data.scale.FDB_PESO_ACT.value).toFixed(0)}} {{Unity}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="this.data.scale.SET_FUORI_ZERO" style="font-size:14px;margin-top:16px;"><h5>Fuori zero</h5></div>
            <div *ngIf="this.data.scale.SET_FUORI_ZERO" class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="vertical-align:middle;">
                      {{this.data.scale.SET_FUORI_ZERO.value}} {{Unity}}
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newFuoriZero" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onFuoriZeroConfirm()">OK</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div *ngIf="this.data.scale.SET_MOD_SP" style="font-size:14px;margin-top:16px;"><h5>Scuoti parete</h5></div>
            <div *ngIf="this.data.scale.SET_MOD_SP" class="row" style="margin-top:16px;">
              <div class="col-sm-4">
                <button style="height:60px;vertical-align:middle" [ngClass]="this.data.scale.SET_MOD_SP.value == 0 ? 'btn btn-primary' : 'btn btn-default'" type="button" (click)="onScuotiParete(0)">ESCLUSO</button>-->
                <!--<button style="height:60px;vertical-align:middle;margin-top:16px" [ngClass]="this.data.scale.SET_MOD_SP.value == 4 ? 'btn btn-primary' : 'btn btn-default'" type="button" (click)="onScuotiParete(4)">PORTATA</button>-->
              <!--</div>
              <div class="col-sm-4">
                <button style="height:60px;vertical-align:middle;width:100%" [ngClass]="this.data.scale.SET_MOD_SP.value == 1 ? 'btn btn-primary' : 'btn btn-default'" type="button" (click)="onScuotiParete(1)">SEMPRE ON</button>
                <button style="height:60px;vertical-align:middle;margin-top:16px;font-size:10px;width:100%;" [ngClass]="this.data.scale.SET_MOD_SP.value == 3 ? 'btn btn-primary' : 'btn btn-default'" type="button" (click)="onScuotiParete(3)">DURANTE LO SGOCCIOLAM.</button>
              </div>
              <div class="col-sm-4">
                <button style="height:60px;vertical-align:middle;font-size:10px" [ngClass]="this.data.scale.SET_MOD_SP.value == 2 ? 'btn btn-primary' : 'btn btn-default'" type="button" (click)="onScuotiParete(2)">CON ALLARME DI SCARICAMENTO</button>-->
                <!--<button style="height:60px;vertical-align:middle;margin-top:16px; white-space:normal; padding:5px; text-align:center; font-size:12px" [ngClass]="this.data.scale.SET_MOD_SP.value == 5 ? 'btn btn-primary' : 'btn btn-default'" type="button" (click)="onScuotiParete(5)">PAUSA LAVORO + PORTATA</button>-->
              <!--</div>
            </div>

          </div>
        </ng-template>
      </li>

      <li *ngIf="this.data.scale.SET_RIF_INV_LENTO || this.data.scale.SET_RIF_INV_VELOCE" ngbNavItem>
        <a ngbNavLink>Velocità</a>
        <ng-template ngbNavContent>
          <div style="padding:8px;">
            <div *ngIf="this.data.scale.SET_RIF_INV_LENTO" style="font-size:14px;margin-top:16px;"><h5>Velocità di scarico lento<br /> (sotto il fuori zero)</h5></div>
            <div *ngIf="this.data.scale.SET_RIF_INV_LENTO" class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="vertical-align:middle;">
                      {{this.data.scale.SET_RIF_INV_LENTO.value}} %
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newSlowSpeed" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onSlowSpeedConfirm()">OK</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="this.data.scale.SET_RIF_INV_VELOCE" style="font-size:14px;margin-top:16px;"><h5>Velocità di scarico rapido<br /> (sopra il fuori zero)</h5></div>
            <div *ngIf="this.data.scale.SET_RIF_INV_VELOCE" class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="vertical-align:middle;">
                      {{this.data.scale.SET_RIF_INV_VELOCE.value}} %
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newHighSpeed" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onHighSpeedConfirm()">OK</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
      </li>-->

      <!-- TEMPI -->
      <!--<li *ngIf="this.data.scale.SET_T_MAX_CARICO || this.data.scale.SET_T_MAX_SCARICO || this.data.scale.SET_T_SGOCCIOLAMENTO || this.data.scale.SET_T_ATTESA_SCARICO" ngbNavItem>
        <a ngbNavLink>Tempi</a>
        <ng-template ngbNavContent>
          <div style="padding:8px;">

            <div *ngIf="this.data.scale.SET_T_MAX_CARICO" style="font-size:14px;margin-top:16px;"><h5>Tempo MAX carico</h5></div>
            <div *ngIf="this.data.scale.SET_T_MAX_CARICO" class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="vertical-align:middle;">
                      {{this.data.scale.SET_T_MAX_CARICO.value}} s
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newTempoCarico" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onTempoCaricoConfirm()">OK</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div *ngIf="this.data.scale.SET_T_MAX_SCARICO" style="font-size:14px;margin-top:16px;"><h5>Tempo MAX scarico <br> (regolare in base alla quantità da scaricare) </h5></div>
            <div *ngIf="this.data.scale.SET_T_MAX_SCARICO" class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="vertical-align:middle;">
                      {{this.data.scale.SET_T_MAX_SCARICO.value}} s
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newTempoScarico" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onTempoScaricoConfirm()">OK</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div *ngIf="this.data.scale.SET_T_SGOCCIOLAMENTO" style="font-size:14px;margin-top:16px;"><h5>Tempo di sgocciolamento</h5></div>
            <div *ngIf="this.data.scale.SET_T_SGOCCIOLAMENTO" class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="vertical-align:middle;">
                      {{this.data.scale.SET_T_SGOCCIOLAMENTO.value}} s
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newTempoSgocciolamento" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onTempoSgocciolamentoConfirm()">OK</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div *ngIf="this.data.scale.SET_T_ATTESA_SCARICO" style="font-size:14px;margin-top:16px;"><h5>Tempo attesa scarico</h5></div>
            <div *ngIf="this.data.scale.SET_T_ATTESA_SCARICO" class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="vertical-align:middle;">
                      {{this.data.scale.SET_T_ATTESA_SCARICO.value}} s
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newTempoAttesaScarico" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onTempoAttesaScaricoConfirm()">OK</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </ng-template>
      </li>-->

      <!-- ALTRO -->
      <!--<li ngbNavItem>
        <a ngbNavLink>Altro</a>
        <ng-template ngbNavContent>
          <div style="padding:8px;">

            <div class="row" *ngIf="this.data.scale.SET_ABIL_ACQUA">
              <div class="col-sm-12">
                Abilita
              </div>
            </div>
            <div *ngIf="this.data.scale.SET_ABIL_ACQUA" class="row" style="font-size:14px;margin-top:4px;">
              <div *ngIf="this.data.scale.SET_ABIL_ACQUA" class="col-3">
                <label class="switcher">
                  <input id="oilReady" type="checkbox" [(ngModel)]="this.data.scale.SET_ABIL_ACQUA.value" class="switcher-input" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"></span>
                </label>
              </div>
              <div class="col-7" style="vertical-align:middle">Abilita acqua in sabbia</div>
            </div>

            <div *ngIf="this.data.scale.SET_SILO_PRIORITY" style="font-size:14px;margin-top:16px;"><h5>Ordine di carico</h5></div>
            <div *ngIf="this.data.scale.SET_SILO_PRIORITY" class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="vertical-align:middle;">
                      {{this.data.scale.SET_SILO_PRIORITY.value}}
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newPriority" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onPriorityConfirm()">OK</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div *ngIf="this.data.scale.SET_PESO_MASSIMO" style="font-size:14px;margin-top:16px;"><h5>Peso massimo</h5></div>
            <div *ngIf="this.data.scale.SET_PESO_MASSIMO" class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="vertical-align:middle;">
                      {{this.data.scale.SET_PESO_MASSIMO.value}} {{Unity}}
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newPesoMassimo" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onPesoMassimoConfirm()">OK</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>-->

            <!--<div *ngIf="this.data.scale.SET_HL" style="font-size:14px;margin-top:16px;"><h5>Impostazione livello HL</h5></div>
  <div *ngIf="this.data.scale.SET_HL" class="table-responsive">
    <table class="table table-striped table-bordered card-table">
      <thead>
        <tr>
          <th>ATTUALE</th>
          <th>NUOVO</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="vertical-align:middle;">
            {{this.data.scale.SET_HL.value}} %
          </td>
          <td class="text-right" style="vertical-align:middle;">
            <input class="form-control" type="number" [(ngModel)]="newHL" />
          </td>
          <td class="text-right" style="vertical-align:middle;">
            <button class="btn btn-success" type="button" (click)="onHLConfirm()">OK</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>-->

            <!--<div *ngIf="this.data.scale.SET_VOLO" style="font-size:14px;margin-top:16px;"><h5>Impostazione volo</h5></div>
            <div *ngIf="this.data.scale.SET_VOLO" class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="vertical-align:middle;">
                      {{(+this.data.scale.SET_VOLO.value).toFixed(1)}} {{Unity}}
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newSET_VOLO" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onSET_VOLOConfirm()">OK</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div *ngIf="this.data.scale.SET_P_RALLENTAMENTO" style="font-size:14px;margin-top:16px;"><h5>Impostazione peso inizio rallentamento</h5></div>
            <div *ngIf="this.data.scale.SET_P_RALLENTAMENTO" class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="vertical-align:middle;">
                      {{(+this.data.scale.SET_P_RALLENTAMENTO.value).toFixed(1)}} {{Unity}}
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newSET_P_RALLENTAMENTO" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onSET_P_RALLENTAMENTOConfirm()">OK</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div *ngIf="this.data.scale.SET_CAP_MAX" style="font-size:14px;margin-top:16px;"><h5>Impostazione capacità massima</h5></div>
            <div *ngIf="this.data.scale.SET_CAP_MAX" class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="vertical-align:middle;">
                      {{(+this.data.scale.SET_CAP_MAX.value).toFixed(1)}}
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newCapacitaMax" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onCapMaxConfirm()">OK</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div *ngIf="this.data.scale.STATE" style="font-size:14px;margin-top:16px;"><h5>Forza stato</h5></div>
            <div *ngIf="this.data.scale.STATE" class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <tbody>
                  <tr>
                    <td style="vertical-align:middle;">
                      ATTUALE
                    </td>
                    <td class="text-left" style="vertical-align:middle;">
                      {{data.scale.STATE_STR.toUpperCase()}}
                    </td>
                  </tr>
                  <tr>
                    <td style="vertical-align:middle;">
                      NUOVO
                    </td>
                    <td class="text-left" style="vertical-align:middle;">
                      <select class="form-control" [(ngModel)]="newState">
                        <option value="0">NESSUNA OPERAZIONE</option>
                        <option value="1">CARICO</option>
                        <option value="2">CARICO COMPLETATO, ATTESA SCARICO</option>
                        <option value="3">SCARICO</option>
                        <option value="4">SCARICO COMPLETATO, VERIFICA RIPETIZIONI</option>-->
                        <!--option value="5">PESATA DA NON MISCELARE: CARICO</option>
              <option value="6">PESATA DA NON MISCELARE: CARICO COMPLETATO, ATTESA SCARICO</option>
              <option value="7">PESATA DA NON MISCELARE: SCARICO</option>
              <option value="8">PESATA DA NON MISCELARE: SCARICO COMPLETATO, VERIFICA RIPETIZIONI</option>-->
                        <!--<option value="10">FINE PESATE E SCARICHI</option>
                      </select>-->
                      <!--<input class="form-control" type="number" [(ngModel)]="newState" />-->
                    <!--</td>
                  </tr>
                </tbody>
              </table>
              <button style="margin-top:8px;" type="button" class="btn btn-success" (click)="onNewStateConfirm()">Conferma</button>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="userTabs"></div>
  </div>
</div>-->
