<button class="close" mat-button (click)="onNoClick()">X</button>
<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{data.motor.name.toUpperCase()}}</h1>
<div mat-dialog-content style="margin: 0px -24px -24px -24px!important;padding:4px!important;background: #f5f5f5;">
  <div class="nav-tabs-top" style="padding:2px;">
    <ul ngbNav #userTabs="ngbNav" class="nav-tabs">

      <!-- GENERALE -->
      <li ngbNavItem>
        <a ngbNavLink>Generale</a>
        <ng-template ngbNavContent>
          <div style="padding:8px;">
            <div style="font-size:14px;margin-top:16px;">{{data.motor.description.toUpperCase()}}</div>
            <div style="border:1px solid lightgray;padding:5px;text-align:center;vertical-align:central;font-size:14px;font-weight:bold;margin:16px 0px;">{{data.motor.STATE_STR.toUpperCase()}}</div>

            <!-- MAN / AUT: unico toggle ManAut (man=0, AUT=1) -->
            <div class="row" style="width:100%;">
              <div class="col-sm-6">
                <button (click)="onMANClick()" [disabled]="!this.data.motor.CMD_MAN_AUT" style="width:120px;font-weight:bold" [ngClass]="(this.data.motor.CMD_MAN_AUT && !this.data.motor.CMD_MAN_AUT.value) ? 'btn btn-primary' : 'btn btn-default'">MAN</button>
              </div>
              <div class="col-sm-6">
                <button (click)="onAUTClick()" [disabled]="!this.data.motor.CMD_MAN_AUT" [ngClass]="(this.data.motor.CMD_MAN_AUT && this.data.motor.CMD_MAN_AUT.value) ? 'btn btn-primary pull-right' : 'btn btn-default pull-right'" style="font-weight:bold;margin-right:-23px;width:120px">AUTO</button>
              </div>
            </div>

            <!-- Marcia manuale: ManCmdFwd toggle (true = marcia, false = stop) -->
            <div class="row" style="width:100%;margin-top:24px;">
              <div class="col-sm-6">
                <!--<button (click)="onSTOPClick()" [disabled]="!this.data.motor.CMD_MAN_FWD || (this.data.motor.CMD_MAN_AUT && this.data.motor.CMD_MAN_AUT.value)" class="btn btn-danger" style="width:120px"><i class="fas fa-square"></i> STOP</button>-->
                <button (click)="onSTOPClick()" class="btn btn-danger" style="width:120px"><i class="fas fa-square"></i> STOP</button>
              </div>
              <div class="col-sm-6">
                <!--<button (click)="onSTARTClick()" [disabled]="!this.data.motor.CMD_MAN_FWD || (this.data.motor.CMD_MAN_AUT && this.data.motor.CMD_MAN_AUT.value)" class="btn btn-success pull-right" style="margin-right:-23px;width:120px"><i class="fas fa-play"></i> START</button>-->
                <button (click)="onSTARTClick()" class="btn btn-success pull-right" style="margin-right:-23px;width:120px"><i class="fas fa-play"></i> START</button>
              </div>
            </div>

            <!-- Stati digitali (DB STS) -->
            <div class="row" style="width:100%;margin-top:24px;font-size:13px;">
              <div class="col-6" *ngIf="this.data.motor.STS_FWD">
                <span [style.color]="this.data.motor.STS_FWD.value ? 'green' : 'lightgray'"><i class="fas fa-circle"></i></span> In marcia FWD
              </div>
              <div class="col-6" *ngIf="this.data.motor.STS_REV">
                <span [style.color]="this.data.motor.STS_REV.value ? 'green' : 'lightgray'"><i class="fas fa-circle"></i></span> In marcia REV
              </div>
              <div class="col-6" *ngIf="this.data.motor.STS_LIM_FWD">
                <span [style.color]="this.data.motor.STS_LIM_FWD.value ? 'green' : 'lightgray'"><i class="fas fa-circle"></i></span> In posizione FWD
              </div>
              <div class="col-6" *ngIf="this.data.motor.STS_LIM_REV">
                <span [style.color]="this.data.motor.STS_LIM_REV.value ? 'green' : 'lightgray'"><i class="fas fa-circle"></i></span> In posizione REV
              </div>
            </div>
          </div>
        </ng-template>
      </li>

      <!-- INVERTER (DB122 - VFD): solo per i motori sotto inverter -->
      <li ngbNavItem *ngIf="this.data.motor.HAS_VFD">
        <a ngbNavLink>Inverter</a>
        <ng-template ngbNavContent>
          <div style="padding:8px;">
            <div style="border:1px solid lightgray;padding:5px;text-align:center;vertical-align:central;font-size:14px;font-weight:bold;margin:16px 0px;" [style.color]="this.data.motor.VFD_StateColor">{{this.data.motor.VFD_STATE_STR}}</div>

            <!-- Misure dell'inverter: tutte di sola lettura -->
            <div class="row">
              <div class="col-sm-6 col-xl-6">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="text-muted small">Velocita' attuale</div>
                    <div class="text-large">{{this.data.motor.VFD_ACTUAL_SPEED.toFixed(1)}} %</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-6">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="text-muted small">Riferimento attuale</div>
                    <div class="text-large">{{this.data.motor.VFD_ACTUAL_REF.toFixed(1)}} %</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-xl-6">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="text-muted small">Corrente</div>
                    <div class="text-large">{{this.data.motor.VFD_ACTUAL_CURRENT.toFixed(1)}} A</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-6">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="text-muted small">Potenza</div>
                    <div class="text-large">{{this.data.motor.VFD_ACTUAL_POWER.toFixed(1)}} kW</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Riferimenti manuale e automatico: i due valori scrivibili del blocco -->
            <div *ngIf="this.data.motor.VFD_manRef" style="font-size:14px;margin-top:16px;"><h5>Riferimento manuale</h5></div>
            <div *ngIf="this.data.motor.VFD_manRef" class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="vertical-align:middle;">
                      {{this.data.motor.VFD_MANUAL_REF.toFixed(1)}} %
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newManRef" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onManRefConfirm()">OK</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div *ngIf="this.data.motor.VFD_autRef" style="font-size:14px;margin-top:16px;"><h5>Riferimento automatico</h5></div>
            <div *ngIf="this.data.motor.VFD_autRef" class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>ATTUALE</th>
                    <th>NUOVO</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="vertical-align:middle;">
                      {{this.data.motor.VFD_AUTO_REF.toFixed(1)}} %
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <input class="form-control" type="number" [(ngModel)]="newAutRef" />
                    </td>
                    <td class="text-right" style="vertical-align:middle;">
                      <button class="btn btn-success" type="button" (click)="onAutRefConfirm()">OK</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- Energia e codici di diagnostica: scritti dal PLC, sola lettura -->
            <div class="table-responsive">
              <table class="table table-striped table-bordered card-table">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th class="text-right">ATTUALE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="this.data.motor.VFD_energy">
                    <td style="vertical-align:middle;">Energia</td>
                    <td class="text-right" style="vertical-align:middle;">{{this.data.motor.VFD_ENERGY.toFixed(1)}} kWh</td>
                  </tr>
                  <tr *ngIf="this.data.motor.VFD_actFault">
                    <td style="vertical-align:middle;">
                      <span [style.color]="this.data.motor.VFD_HAS_FAULT ? 'red' : 'lightgray'"><i class="fas fa-circle"></i></span> Codice fault
                    </td>
                    <td class="text-right" style="vertical-align:middle;">{{this.data.motor.VFD_FAULT_CODE}}</td>
                  </tr>
                  <tr *ngIf="this.data.motor.VFD_actWarning">
                    <td style="vertical-align:middle;">
                      <span [style.color]="this.data.motor.VFD_HAS_WARNING ? 'orange' : 'lightgray'"><i class="fas fa-circle"></i></span> Codice warning
                    </td>
                    <td class="text-right" style="vertical-align:middle;">{{this.data.motor.VFD_WARNING_CODE}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </ng-template>
      </li>

      <!-- ALLARMI -->
      <li ngbNavItem *ngIf="this.data.motor.ALM_MOL">
        <a ngbNavLink>Allarmi</a>
        <ng-template ngbNavContent>
          <div style="padding:8px;font-size:14px;">
            <div class="row" style="margin-top:8px;" *ngIf="this.data.motor.ALM_MOL">
              <div class="col-1"><span [style.color]="this.data.motor.ALM_MOL.value ? 'red' : 'lightgray'"><i class="fas fa-circle"></i></span></div>
              <div class="col-10">Allarme scatto termico</div>
            </div>
            <div class="row" style="margin-top:8px;" *ngIf="this.data.motor.ALM_MAC">
              <div class="col-1"><span [style.color]="this.data.motor.ALM_MAC.value ? 'red' : 'lightgray'"><i class="fas fa-circle"></i></span></div>
              <div class="col-10">Allarme mancata risposta</div>
            </div>
            <div class="row" style="margin-top:8px;" *ngIf="this.data.motor.ALM_DAC">
              <div class="col-1"><span [style.color]="this.data.motor.ALM_DAC.value ? 'red' : 'lightgray'"><i class="fas fa-circle"></i></span></div>
              <div class="col-10">Allarme sezionatore aperto</div>
            </div>
            <div class="row" style="margin-top:8px;" *ngIf="this.data.motor.ALM_DRV">
              <div class="col-1"><span [style.color]="this.data.motor.ALM_DRV.value ? 'red' : 'lightgray'"><i class="fas fa-circle"></i></span></div>
              <div class="col-10">Allarme drive</div>
            </div>
            <div class="row" style="margin-top:16px;border-top:1px solid lightgray;padding-top:8px;" *ngIf="this.data.motor.STS_ALM_CUM">
              <div class="col-1"><span [style.color]="this.data.motor.STS_ALM_CUM.value ? 'red' : 'lightgray'"><i class="fas fa-circle"></i></span></div>
              <div class="col-10"><b>Cumulativo allarmi</b></div>
            </div>
          </div>
        </ng-template>
      </li>

      <!-- BYPASS -->
      <li ngbNavItem *ngIf="this.data.motor.FILTER_BYPASS_DAC">
        <a ngbNavLink>Bypass</a>
        <ng-template ngbNavContent>
          <div style="padding:8px;">
            <div class="row">
              <div class="col-sm-12">
                Bypass
              </div>
            </div>
            <div class="row" style="font-size:14px;margin-top:4px;">
              <div class="col-3">
                <label class="switcher">
                  <input id="bypassDac" type="checkbox" [(ngModel)]="this.data.motor.FILTER_BYPASS_DAC.value" class="switcher-input" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"></span>
                </label>
              </div>
              <div class="col-7" style="vertical-align:middle">Bypass stato sezionatore (interruttore locale)</div>
            </div>
            <div class="row" style="font-size:14px;margin-top:16px;border-top:1px solid lightgray;padding-top:8px;" *ngIf="this.data.motor.FILTER_CUM">
              <div class="col-1"><span [style.color]="this.data.motor.FILTER_CUM.value ? 'orange' : 'lightgray'"><i class="fas fa-circle"></i></span></div>
              <div class="col-10">Almeno un filtro selezionato</div>
            </div>
          </div>
        </ng-template>
      </li>

    </ul>
    <div [ngbNavOutlet]="userTabs"></div>
  </div>
</div>
