<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
  Ricette
  <button type="button" class="btn btn-primary rounded-pill d-block" (click)="onBnNewClick()"><span class="ion ion-md-add"></span>&nbsp; Crea Nuova Ricetta</button>
</h4>
<!-- / Filters -->
<div class="card">
<!-- Table controls -->
<div class="card-body">
  <div class="row">
    <div class="col">
      Per page: &nbsp;
      <select [(ngModel)]="perPage"
              (change)="update()"
              class="custom-select custom-select-sm d-inline-block w-auto">
        <option *ngFor="let limit of [10, 20, 30, 40, 50]">{{limit}}</option>
      </select>
    </div>
    <div class="col">
      <div class="pull-right text-muted"><em class="icon-wallet mr-sm"></em><strong>{{totalItems}}</strong> ricette</div>
      <!--<input type="text"
             [(ngModel)]="filterVal"
             (input)="currentPage = 1; update()"
             class="form-control form-control-sm d-inline-block w-auto float-sm-right"
             placeholder="Search...">-->
    </div>
  </div>
</div>
<!-- / Table controls -->
<!-- Table -->
<hr class="border-light m-0">
<div class="table-responsive">
  <table class="table table-striped table-bordered card-table">
    <thead>
      <tr>
        <th class="text-nowrap cursor-pointer" (click)="setSort('code')">
          Codice<i class="ion text-muted ml-2" *ngIf="sortBy=='code'" [ngClass]="'ion-md-arrow-' + (sortDesc ? 'down' : 'up')"></i>
        </th>
        <th class="text-nowrap cursor-pointer" (click)="setSort('name')">
          Nome<i class="ion text-muted ml-2" *ngIf="sortBy=='name'" [ngClass]="'ion-md-arrow-' + (sortDesc ? 'down' : 'up')"></i>
        </th>
        <th class="text-nowrap cursor-pointer" (click)="setSort('note')">
          Note<i class="ion text-muted ml-2" *ngIf="sortBy=='note'" [ngClass]="'ion-md-arrow-' + (sortDesc ? 'down' : 'up')"></i>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input class="form-control" type="text" (keyup)="onKey($event)" id="fCode" name="fCode" [(ngModel)]="filterService.recipeFilters.code" placeholder="Filtra per codice">
        </td>
        <td>
          <input class="form-control" type="text" (keyup)="onKey($event)" id="fName" name="fName" [(ngModel)]="filterService.recipeFilters.name" placeholder="Filtra per nome">
        </td>
        <td>
          <input class="form-control" type="text" (keyup)="onKey($event)" id="fNote" name="fNote" [(ngModel)]="filterService.recipeFilters.note" placeholder="Filtra per note">
        </td>
        <td class="text-center text-nowrap align-middle">
          <a href="javascript:void(0)" class="btn btn-default btn-xs icon-btn md-btn-flat" ngbTooltip="Rimuovi Filtri"><i class="ion ion-md-close" (click)="removeFilters()"></i></a>
        </td>
      </tr>
      <tr *ngFor="let recipe of recipesData">
        <td class="align-middle">{{recipe.code}}</td>
        <td class="align-middle"><a href="javascript:void(0)" (click)="open(recipe)">{{recipe.name}}</a></td>
        <td class="align-middle">{{recipe.note}}</td>
        <td class="text-center text-nowrap align-middle">
          <a href="javascript:void(0)" (click)="open(recipe)" class="btn btn-default btn-xs icon-btn md-btn-flat" ngbTooltip="Edit">
            <i class="ion ion-md-create"></i>
          </a>
        </td>

        <!--<td class="align-middle">
    <span class="ion" [ngClass]="{'ion-md-checkmark text-primary': user.verified, 'ion-md-close text-light': !user.verified}"></span>
  </td>-->
        <!--<td class="align-middle">
    <span *ngIf="user.role === 1">User</span>
    <span *ngIf="user.role === 2">Author</span>
    <span *ngIf="user.role === 3">Staff</span>
    <span *ngIf="user.role === 4">Admin</span>
  </td>
  <td class="align-middle">
    <span class="badge badge-outline-success" *ngIf="user.status === 1">Active</span>
    <span class="badge badge-outline-danger" *ngIf="user.status === 2">Banned</span>
    <span class="badge badge-outline-default" *ngIf="user.status === 3">Deleted</span>
  </td>
  <td class="text-center text-nowrap align-middle">
    <a href="javascript:void(0)" class="btn btn-default btn-xs icon-btn md-btn-flat" ngbTooltip="Edit">
      <i class="ion ion-md-create"></i>
    </a>-->
        <!--<div class="btn-group" ngbDropdown [placement]="!isRTL ? 'bottom-right' : 'bottom-left'">
    <button type="button" class="btn btn-default btn-xs icon-btn md-btn-flat hide-arrow" ngbDropdownToggle ngbTooltip="Actions">
      <i class="ion ion-ios-settings"></i>
    </button>
    <div ngbDropdownMenu [class.dropdown-menu-right]="!isRTL">
      <a class="dropdown-item" href="javascript:void(0)">View profile</a>
      <a class="dropdown-item" href="javascript:void(0)">Ban user</a>
      <a class="dropdown-item" href="javascript:void(0)">Remove</a>
    </div>
  </div>-->
        <!--</td>-->

      </tr>
    </tbody>
  </table>
</div>
<!-- / Table -->
<!-- Pagination -->
<div class="card-body py-0">
  <div class="row">
    <div class="col-sm text-sm-left text-center pt-3">
      <span class="text-muted" *ngIf="totalItems">Page {{ currentPage }} of {{ totalPages }}</span>
    </div>
    <div class="col-sm pt-3">
      <ngb-pagination [collectionSize]="totalItems"
                      [pageSize]="perPage"
                      [(page)]="currentPage"
                      (pageChange)="update()"
                      size="sm"
                      class="d-flex justify-content-center justify-content-sm-end m-0"></ngb-pagination>
    </div>
  </div>
</div>
<!-- / Pagination -->
</div>
